[Desktop Entry]
Name=Simply Circles Envolved
Comment=Simply Circles Plasma for Envolved modes.

X-KDE-PluginInfo-Author=ju1464
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Simply-Circles-Envolved
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=www.github.com/ju1464
X-Plasma-API=5.0
