[SddmGreeterTheme]
Name=Simply Circles
Description=Simply Circles theme
Author=KDE Visual Design Group (customized by ju1464)
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/ju1464
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=Simply-Circles
Theme-API=2.0
