[Desktop Entry]
Comment=Simply Circles Look And Feel
Name=Simply Circles Blue Light
X-KDE-PluginInfo-Author=ju1464
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Simply-Circles-Blue-Light
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=https://www.pling.com/u/ju1464/
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1317371,kns://plasma-themes.knsrc/api.kde-look.org/1317380,kns://aurorae.knsrc/api.kde-look.org/1317367,kns://icons.knsrc/api.kde-look.org/1277095,kns://wallpaper.knsrc/api.kde-look.org/1317490,kns://sddmtheme.knsrc/api.kde-look.org/1365089
